# Entorno Virtual
.venv/
venv/
env/

# Caché de Python
__pycache__/
*.pyc

# Datos y Persistencia de Sesión
chrome_profile/
data_lake/
error_waf.html

# Archivos de entorno y configuraciones del sistema operativo
.env
.DS_Store
Thumbs.db